body {
  background-color: #baba17;
  font-family: Monaco, monospace;
}

h1 {
  color: #590808;
  text-align: center;
  margin-bottom: 25px;
}

img {
  width: 180px;
  display: block;
  margin: 10px auto;
}
